<div class="input-group mb-3">
	<form id="todo-form" ng-submit="addTask()">
		<input placeholder="Que devez-vous faire ?" ng-model="taskInputName" />
		<button type="submit">Sauvegarder</button>
	</form>
	<div ng-show="taskList.length">
		<div ng-repeat="task in taskList track by $index">
			<div class="input-group-prepend">
				<div class="input-group-text">
				<input type="checkbox" aria-label="Checkbox for following text input" ng-model="task.done" ng-click="update(task)">
				</div>
			</div>
			<input type="text" class="form-control"  aria-label="Text input with checkbox" value="{{task.name}}">
			<div class="input-group-append">
				<button ng-click="delete(task)" class="btn btn-outline-secondary text-white bg-danger" type="button">Supprimer</button>
			</div>
		</div>
	</div>
</div>